<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @listing.postal %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @listing.contact_info %>
</p>

<p>
  <strong>Building manager name:</strong>
  <%= @listing.building_manager_name %>
</p>

<p>
  <strong>Building manager phone:</strong>
  <%= @listing.building_manager_phone %>
</p>

<p>
  <strong>Building manager hours:</strong>
  <%= @listing.building_manager_hours %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
